.code-challenge {
  background-color: #A3C5E0; }

.card-container {
  max-width: 1640px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 4em 2.5em; }
  @media (max-width: 1600px) {
    .card-container {
      justify-content: center; } }

.card-wrapper {
  flex-direction: column;
  margin: 1em;
  width: 15em;
  background-color: #fff;
  border-radius: .5em;
  position: relative;
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.1); }

.image-container {
  height: 11em;
  background-image: url("http://res.cloudinary.com/bguggie/image/upload/v1425514882/darktiles_bg_gike55.jpg");
  background-repeat: repeat;
  background-size: 6em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em; }
  .image-container img {
    width: 100%;
    height: 100%; }
  .image-container .bridge-card {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em; }
  .image-container .placeholder-card {
    padding: 1.5em; }

.content-container {
  height: 11em;
  padding: .75em; }
  .content-container .text {
    text-transform: capitalize; }
  .content-container hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 24px; }
  .content-container .price-container .price {
    color: mediumseagreen;
    font-weight: bold;
    position: absolute;
    bottom: 12px;
    right: 10px;
    text-align: right; }
